#container {
	font-family: sans-serif;
	margin: 3% 20%
}
h1 {
	color: #333;
	margin-bottom: 0;
}
h2 {
	color: #555;
	margin-bottom: 0;
}
h3 {
	color: #777;
}
h4 {
	margin-top: 0;
	color: #333;
}
i {
	font-size: 0.85rem;
	color: #444;
}
input, button {
	border: none;
	font-size: 1rem;
	border-radius: 3px;
	border: 1px solid black;
}
#generate:hover {
	cursor: pointer;
	background-color: #3FFF06;
}
#clear:hover {
	cursor: pointer;
	background-color: #F50011;
}
table {
	text-align: center;
}
a {
	color: inherit;
}
a:hover {
	color: #AAA;
}
@media only screen and (max-width: 632px) {
	#container {
		margin: 10px 5px;
	}
}