html {
	
}
#container {
	font-family: sans-serif;
	margin: 3% 20%
}
h1 {
	color: #333;
	margin-bottom: 0;
}
h2 {
	color: #555;
}
h3 {
	color: #777;
}
h4 {
	margin: 0;
	color: #333;
}
span {
	font-size: 0.8rem;
	color: #444;
}
button {
	border: none;
	font-size: 1rem;
	border-radius: 3px;
	border: none;
}
#generate:hover {
	cursor: pointer;
	background-color: #3FFF06;
}
#clear:hover {
	cursor: pointer;
	background-color: #F50011;
}